<div class="flex flex-col items-center mx-auto max-w-2xl p-10">
  <h2 class="text-2xl font-bold mb-4">Редактирование профиля</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-full items-center" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4">
      <%= f.label :name,"Имя", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :name, autofocus: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field mb-4">
      <%= f.label :lastname,"Фамилия", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :lastname, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field mb-4">
      <%= f.label :patronymic,"Отчество", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :patronymic, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div x-data="{ changePassword: false }">
    <label for="togglePassword" class="flex items-center cursor-pointer mb-4">
    <div class="relative">
    <input id="togglePassword" type="checkbox" class="sr-only" x-model="changePassword">
    <div :class="changePassword ? 'bg-blue-600' : 'bg-gray-600'" class="block w-14 h-8 rounded-full"></div>
    <div :class="changePassword ? 'translate-x-6' : 'translate-x-1'" class="dot absolute top-1 bg-white w-6 h-6 rounded-full transition-transform"></div>
  </div>
      <div class="ml-3 text-gray-700 font-medium">
        Изменить пароль?
      </div>
    </label>

    <div x-show="changePassword" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90">
      <div class="field mb-4">
        <%= f.label :password,"Пароль", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="field mb-4">
        <%= f.label :password_confirmation,"Подтверждение пароля", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  </div>
  
  <div class="field mb-4">
    <%= f.label :current_password,"Текущий пароль", class: "block text-gray-700 text-sm font-bold mb-2"  %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="actions mt-6 mb-4">
      <%= f.submit "Обновить", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
  <div x-data="{ openModal: false }">
  <button @click="openModal = true" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Удалить аккаунт</button>

  <div x-show="openModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" x-cloak>
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div class="mt-3 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Подтверждение удаления</h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500">Вы уверены, что хотите удалить свой аккаунт? Это действие необратимо.</p>
        </div>
        <div class="flex flex-col items-center px-4 py-3">
          
          <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: "px-4 py-2 bg-red-600 text-white rounded-md" %>
          <button @click="openModal = false" class="mt-4 px-4 py-2 bg-gray-200 text-black rounded-md mr-2">Отмена</button>
          </div>
      </div>
    </div>
  </div>
</div>

</div>




<script>
  document.addEventListener('alpine:init', () => {
    Alpine.start()
  })
</script>

