<div class="flex items-center justify-center w-full min-h-screen">
  <div class="flex -mx-2 shadow-lg">
  <div class="w-full max-w-md bg-white rounded-r px-12 pt-6 pb-8">
  <h2 class="text-2xl font-bold text-left text-gray-700 mb-4">Сведения о выплате</h2>
  <%= form_with(model: salary, local: true, class: "flex flex-col gap-y-4") do |form| %>
    <% if params[:driver_id] %>
      <%= form.hidden_field :driver_id, value: params[:driver_id] %>
    <% end %>
    <div class="field">
      <%= form.label :salary_date,"Дата выплаты", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :salary_date, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
    </div>
    <div class="field">
      <%= form.label :km_rate, "Стоимость километра", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :km_rate, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
    </div>
    <div class="field">
      <%= form.label :reis, "Киллометраж", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :reis, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
    </div>
    <div class="field">
      <%= form.label :travel_allow, "Сумма командировочных", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :travel_allow, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
    </div>
    <div class="field">
      <%= form.label :downtime, "Сумма простоя", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :downtime, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
    </div>
    <div class="field">
      <%= form.label :premium, "Премия", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :premium, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
    </div>
    <div class="actions">
      <% if @salary.new_record? %>
      <%= form.submit "Добавить выплату", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
      
      <% else %>
        <%= form.submit "Обновить информацию", class: "w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline focus:ring-green-500 focus:border-green-500" %>
      <% end %>
    
      </div>
  <% end %>
  </div>
    
  </div>
</div>